<div class="tab">
    <h2 class="tab-title">Metadata Statements</h2>
    <div class="tab-content">
        <p class="help">
            The following table lists all entries for the Metadata Statement Services.<br>
        </p>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Entries / Exception</th>
            </tr>
            </thead>
            <tbody>
            {%  if not collector.getData().mds.services is empty %}
                {% for name, data in collector.getData().mds.services %}
                    <tr>
                        <td>
                            {{ name }}
                        </td>
                        <td>
                            {% if data.exception is defined %}
                                {{ profiler_dump(data.exception) }}
                            {% else %}
                                <ul>
                                {% for entry in data.toc.entries %}
                                    <li>{{ profiler_dump(entry) }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="1">No Single Metadata Statement</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
        <p class="help">
            The following table lists all Single Metadata Statement (local or distant).<br>
        </p>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Metadata Statement</th>
                <th>Icon</th>
            </tr>
            </thead>
            <tbody>
            {%  if not collector.getData().mds.single is empty %}
                {% for name, data in collector.getData().mds.single %}
                    <tr>
                        <td>
                            {{ name }}
                        </td>
                        <td>
                            <span>{{ profiler_dump(data) }}</span>
                        </td>
                        <td>
                            {% if data.icon %}
                                <img src="{{ data.icon }}">
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="1">No Single Metadata Statement</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
</div>
